<div class="blog-cover">
  <section>
    <div class="container">
      <h1 class="title-container"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
      {{ with .Site.Params.description }}<h3>{{ . }}</h3>{{ end }}

      {{ with .Site.Params.twitter }}
      <a class="social-icon" href="{{ . }}" title="Follow on Twitter" target="_blank"><i class="icon icon-twitter"></i></a>
      {{ end }}
      {{ with .Site.Params.github }}
      <a class="social-icon" href="{{ . }}" title="Follow on Github" target="_blank"><i class="icon icon-github"></i></a>
      {{ end }}
      {{ with .Site.Params.facebook }}
      <a class="social-icon" href="http://facebook.com/{{ . }}" title="Like on Facebook" target="_blank"><i class="icon icon-facebook"></i></a>
      {{ end }}
      <a class="social-icon" href="/index.xml" title="RSS Feed">
        <i class="icon icon-rss"></i>
      </a>
      <div class="mb15"></div>
    </div>
  </section>
</div>
