{{ template "chrome/head.html" . }}

<body class="theme-dark">
  {{ template "chrome/header.html" . }}
  {{ template "chrome/cover.html" . }}
  <div class="content container">
    <div class="posts">
      {{ range .Data.Pages }}
        {{ range .Pages }}
          {{ if eq .Type "post" }}
          <div>
            <h2 class="post-title">
              <a href="{{ .Permalink }}">{{ .Title }}</a>
            </h2>
            <span class="post-date">
              {{ if .Params.tags }}<ul class="post-tags top">{{ range .Params.tags }}
                <li><a href="/tags/{{.}}">#{{.}}</a></li>
              {{ end }}</ul> | {{ end }}
              {{ .Date.Format "Jan 2, 2006" }}
            </span>
            {{if .Params.series}}
              {{ $name := index .Params.series 0 }}
              <p class="seriesname">Series: <a href="{{.Site.BaseURL}}/series/{{$name | urlize}}">{{$name}}</a></p>
            {{end}}
          </div>
          {{end}}
        {{end}}
      {{end}}
    </div>
  </div>
  {{ template "chrome/footer.html" . }}
  {{ template "chrome/scripts.html" . }}
</body>
</html>
