{{ template "chrome/head.html" . }}

<body>

  {{ template "chrome/header.html" . }}
  {{ template "chrome/cover.html" . }}
  <div class="content container">
    <h1 class="title">{{ .Title }}</h1>
    <ul class="posts tag-list">
    {{ range .Data.Pages }}
      <li class="tag-list-item">
        <a href="{{ .Permalink }}">{{ .Title }}</a>
        <time class="tag-list-item-time">{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
      </li>
    {{ end }}
    </ul>
  </div>
  {{ template "chrome/scripts.html" . }}
</body>
</html>
